/* Header styles */

.headerParent {
  background-color: #32221700;
  height: "20vh";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

#header-text {
  font-size: xx-large;
  color: #73A5C6;
}

.navlinks{
  padding-right: 40px;
}
